$primary-color: #000;
$socialBGColor: #fff;
$footerHeight: 160px;
$aColor: #fff;
$aHover: #808080;
$socialIcons: #D1D1D1;

.ttcFooter {
  font-family: RalewayLight;
  background-color: $primary-color;
  height: $footerHeight;
  overflow: hidden;
}

.ttcFooter {
  ul li {
    list-style: none;
  }
  li a {
    color: $aColor;
  }
  li a:hover {
    color: $aHover;
  }
  .row {
    height: 150px !important;
  }
  .socialIcons{
    margin-top: 20px;
      ul {
        display: inline;
        text-align: center;
        li {
          display: inline;
          margin-top: 40px;
          i {
            background-color: $socialBGColor;
            color: #d1d1d1;
            height: 50px;
            width: 50px;
            padding-top: 10px;
            border-radius: 25px;
          }
          i:hover {
            background-color: #d1d1d1;
            color: $socialBGColor;
            height: 50px;
            width: 50px;
            padding-top: 10px;
            border-radius: 25px;
          }
        }
      }

  }
  .powered a {
    color: $aColor;
  }
  .copyright p{
    float: right;
    color: $aColor;
  }
}

@media #{$small-only} {
  .powered {
    font-size: 12px !important;
  }
  .copyright p {
    font-size: 12px !important;
  }
}
//extra-small screens
@media only screen and (max-width: 450px) {
  .ttcFooter {
    height: 110px;
  }
  .footer-link {
    li {
      font-size: 10px !important;
    }
  }
  .socialIcons {
    margin-top: 5px !important;
    ul li {
      i {
        font-size: 20px !important;
      }
      i {
        height: 40px !important;
        width: 40px !important;
        padding-top: 10px !important;
        border-radius: 20px !important;
      }
      i:hover {
        height: 25px;
        width: 25px;
        padding-top: 8px;
        border-radius: 15px;
      }
    }
  }
  .powered {
    font-size: 8px !important;
  }
  .copyright p {
    font-size: 8px !important;
  }
}

