@import "../../../../bower_components/foundation/scss/foundation/components/global";

$topbar-bg-color: white;
$topbar-bg: $topbar-bg-color;
$topbar-link-color: #020202;
$topbar-link-color-hover: #D8A560;
$topbar-link-bg-hover: white;
$topbar-height: 63px;
$topbar-menu-link-color: #020202;
$topbar-menu-icon-color: #020202;
$topbar-dropdown-link-bg: white;
$topbar-dropdown-link-bg-hover: white;
$topbar-dropdown-link-color: #020202;
$topbar-menu-icon-color-toggled: #020202;
$topbar-menu-icon-position: $default-float;


#nav {
    text-align: center;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
#nav-dropdown {
  box-shadow: rgb(153, 153, 153) 0px 0px 6px 3px;
  margin-top: -15px;
  text-align: center;
}
section.top-bar-section {
  display: inline-block;
}