@font-face {
  font-family: RalewayExtraLight;
  font-style: normal;
  src: url('../font/Raleway-ExtraLight.ttf');
}
@font-face {
  font-family: RalewayLight;
  font-style: normal;
  src: url('../font/Raleway-Light.ttf');
}

.img-overlay {
  background-color: black;
  img {
    opacity: .4;
  }
}
#text-wrapper {
  opacity: 0;
  text-align: center;
  position: relative;
  width: 100%;
}
#coffee-text {
  color: white !important;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center !important;
  font-family: RalewayExtraLight;
}
#specialty-text {
  font-family: RalewayLight;
}
#coffee-icon {
  text-align: center;
}

@media #{$large-up} {
  #coffee-text {
    top: 195px;
    font-size: 72px;
  }
  #specialty-text {
    font-size: 28px;
  }
}
@media #{$medium-only} {
  #coffee-text {
    top: 150px;
    font-size: 50px;
  }
  #specialty-text {
    font-size: 22px;
  }
}
@media #{$small-only} {
  #coffee-text {
    top: 120px;
    font-size: 32px;
  }
  #specialty-text {
    font-size: 18px;
  }
}