@media #{$large-up} {
  #seg-header {
    margin-top: -60px !important;
    font-size: 50px !important;
  }
}
@media #{$medium-only} {
  #seg-header {
    margin-top: -45px !important;
    font-size: 35px !important;
  }
}
@media #{$small-only} {
  #seg-header {
    margin-top: -25px !important;
    font-size: 26px;
  }
}
@media only screen and (max-width: 450px) {
  #seg-header {
    margin-top: -10px !important;
    font-size: 20px !important;
  }
}

div.SEG.row {
  margin-top: 20px;
  margin-bottom: 20px;
  div.small-6.columns.light-font-smaller.SEGLinks {
    p{
      a.seglink {
      color: #055fc5;
      }
      a.seglink:hover {
      color: ;
      }
    }
  }
}